.DS_Store
iph-eco.pro.user
CMakeLists.txt.user
build/
release/
debug/
model/iph-eco-model/
model/*.dylib
installer/packages/com.4techlabs.ipheco/data/
installer/iph-eco-installer.*
*.o
*.mod
*.a
*.dll
iph-eco.aps
