<?xml version="1.0" encoding="UTF-8"?>
<Installer>
  <Name>IPH-ECO</Name>
  <Version>0.1</Version>
  <Title>IPH-ECO</Title>
  <Publisher>IPH/UFRGS</Publisher>
  <ProductUrl>https://sites.google.com/site/iphecomodel</ProductUrl>
  <InstallerWindowIcon>iph-eco</InstallerWindowIcon>
  <StartMenuDir>IPH-ECO</StartMenuDir>
  <AllowSpaceInPath>true</AllowSpaceInPath>
</Installer>
